body {
  background-color: black;
}

div.gradient{
	width: 100%;
	height: 100%;
  	background: linear-gradient(to bottom, #f8f99f, #76ba44, #d3e084);
	position: absolute;
  	left: 0;
  	top: 0;
}

div.text {
	width: 98%;
	height: 98%;
	background-color: black;
	position: absolute;
  	left: 1%;
  	top: 1%;
}


a {
	background-color: #1c1c1c;
	color: white;
	text-decoration: none;
	margin: 2px;
	font-family: verdana;
	font-weight: 400;
	padding: 8px;
	position: absolute;
	left: 0;
	bottom: 0px;
}

a:hover span {
	display:none;
}

a:hover:before {
	content:"Emilio Martínez Poppe, 2020";
}

a:visited {
  color: white;
}
