a {
	text-decoration: none;
	color: black;
}

img {
	margin-left: 25%;
	margin-right: 25%;
	margin: auto;
}

p {
	text-align: center;
    margin: auto;
    margin: 20px 20% 20% 20%;
}

#text {
	margin: -15% 20% 20% 20%;
}

body {
	animation-name: pulse;
	animation-duration: 30s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	}

	@keyframes pulse {
	0% {
	  background-color: white;
	}
	20% {
	  background-color: #ffdcdc;
	}
	40% {
	  background-color: white;
	}
	60% {
	  background-color: #dcf3ff;
	}
	80% {
	  background-color: white;
	}
	100% {
	  background-color: #dcffea;
	}
	}

	@-webkit-keyframes pulse {
	0% {
	  background-color: white;
	}
	20% {
	  background-color: #ffdcdc;
	}
	40% {
	  background-color: white;
	}
	60% {
	  background-color: #dcf3ff;
	}
	80% {
	  background-color: white;
	}
	100% {
	  background-color: #dcffea;
	}
	}

#header {
	margin-left: 25%;
	margin-right: 25%;
	font-size: 5em;
}



