body {
	animation-name: pulse;
	animation-duration: 30s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	}

	@keyframes pulse {
	0% {
	  background-color: white;
	}
	20% {
	  background-color: #ffdcdc;
	}
	40% {
	  background-color: white;
	}
	60% {
	  background-color: #dcf3ff;
	}
	80% {
	  background-color: white;
	}
	100% {
	  background-color: #dcffea;
	}
	}

	@-webkit-keyframes pulse {
	0% {
	  background-color: white;
	}
	20% {
	  background-color: #ffdcdc;
	}
	40% {
	  background-color: white;
	}
	60% {
	  background-color: #dcf3ff;
	}
	80% {
	  background-color: white;
	}
	100% {
	  background-color: #dcffea;
	}
	}

div {
	display: inline-block;
	margin: 2%;
	font-size: 5em;
}

#header {
	margin-left: 25%;
	margin-right: 25%;
}

#tapTapFlow{
	border-radius: 25%;
	border: 1px transparent;
	background: rgba(0, 0, 0, .5);
	position: relative;
	z-index: 1;
}
#tapTapFlow img{
	position: relative;
	z-index: 2;
}
