@media only screen and (max-width: 600px) {
}

body {
    background-color: #f4f1ee;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-top: 2%;
}

ul {
    margin-top: -10px;
    list-style-type: none;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 80%;
    line-height: 150%;
}

li {
    margin-bottom: 20px;
}

p.mainMenu {
    max-width: 600px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: bold;
    color: black;
}

p.menu {
    max-width: 600px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: bold;
    font-size: 100%;
    color: black;
}

a.menu {
    text-decoration: none;
    font-size: 100%;
    color: black;
    padding-right: 20px;
    line-height: 225%;
}

a.menu:hover {
    text-decoration: underline;
    color: black;
}

p.category {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: black;
    font-style: bold;
}

p.project {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: black;
    font-style: oblique;
}

p.description {
    margin-top: 30px;
    margin-bottom: 50px;
}

div.gallery {
    padding-top: 50px;
}

a.mainMenu {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: #983efb;
    padding-right: 20px;
    line-height: 225%;
}

a.mainMenu:hover {
    text-decoration: underline;
    color: #983efb;
}



a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: #983efb;
}

a:hover {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: underline;
    font-size: 100%;
    color: #983efb;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 200%;
    text-decoration: none;
    color: black;
}



h2 {
    margin-right: 30%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 200%;
    color: black;
}

p {
    margin-top: -10px;
    max-width: 600px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 80%;
    line-height: 150%;
}

img {
    max-width: 600px;
}
