
body {
	background-color: black;
    margin-bottom: 100px;
    margin-left: 5%;
}

p {
    color: white;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}