body {
	animation-name: pulse;
	animation-duration: 30s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	}

	@keyframes pulse {
	0% {
	  background-color: white;
	}
	20% {
	  background-color: #ffdcdc;
	}
	40% {
	  background-color: white;
	}
	60% {
	  background-color: #dcf3ff;
	}
	80% {
	  background-color: white;
	}
	100% {
	  background-color: #dcffea;
	}
	}

	@-webkit-keyframes pulse {
	0% {
	  background-color: white;
	}
	20% {
	  background-color: #ffdcdc;
	}
	40% {
	  background-color: white;
	}
	60% {
	  background-color: #dcf3ff;
	}
	80% {
	  background-color: white;
	}
	100% {
	  background-color: #dcffea;
	}
	}

div {
	display: inline-block;
	margin: 2%;
	font-size: 5em;
}

#header {
	margin-left: 25%;
	margin-right: 25%;
}

#tapTapFlow{
	border-radius: 25%;
	border: 1px transparent;
	background: rgba(0, 0, 0, .5);
	position: relative;
	z-index: 1;
}
#tapTapFlow img{
	position: relative;
	z-index: 2;
}

/* Tap Tap Flow */
#tapTapFlow{
	width: 300px;
	height: 300px;
	font-family: Impact, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: white;
}
#tapTapFlow a{
	text-decoration: none;
	color: white;
}
#tapTapFlow span{
	display: block;
}
.tap{
	animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	
}
.tap:nth-of-type(1){
	animation-name: yAxisSpin1;
	-webkit-animation-name: yAxisSpin1;
}
.tap:nth-of-type(2){
	animation-name: yAxisSpin2;
	-webkit-animation-name: yAxisSpin2;
}
.flow{
	animation-name: flowFadeIn;
	-webkit-animation-name: flowFadeIn;
	animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes yAxisSpin1 {
	0% {
		transform: rotateY(-90deg);
	}
	20% {
		transform: rotateY(-90deg);
	}
	30% {
		transform: rotateY(0deg);
	}
	70% {
		transform: rotateY(0deg);
	}
	80% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}
@-webkit-keyframes yAxisSpin1 {
	0% {
		transform: rotateY(-90deg);
	}
	20% {
		transform: rotateY(-90deg);
	}
	30% {
		transform: rotateY(0deg);
	}
	70% {
		transform: rotateY(0deg);
	}
	80% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}
@keyframes yAxisSpin2 {
	0% {
		transform: rotateY(90deg);
	}
	30% {
		transform: rotateY(90deg);
	}
	40% {
		transform: rotateY(0deg);
	}
	80% {
		transform: rotateY(0deg);
	}
	90% {
		transform: rotateY(-90deg);
	}
	100% {
		transform: rotateY(-90deg);
	}
}
@-webkit-keyframes yAxisSpin2 {
	0% {
		transform: rotateY(90deg);
	}
	30% {
		transform: rotateY(90deg);
	}
	40% {
		transform: rotateY(0deg);
	}
	80% {
		transform: rotateY(0deg);
	}
	90% {
		transform: rotateY(-90deg);
	}
	100% {
		transform: rotateY(-90deg);
	}
}
@keyframes flowFadeIn{
	0% {
		opacity: 0;
	}
	40%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes flowFadeIn{
	0% {
		opacity: 0;
	}
	40%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	
